* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 18px;
    background-color: #1e1e1e;

    .head {
        margin: auto;
        max-width: 1705px;
        width: 100%;
        height: 710px;
        padding-right: 50px;
        position: relative;

        .head--img {
            background-image: url("/img/detail/image\ 18.png");
            background-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .head--box {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 444px;
            width: 100%;
            position: absolute;
            right: 189.5px;
            top: 181px;
            z-index: 2;

            .head--1 {
                height: 64px;
                border-left: 3px solid #000000;
                padding-left: 26.5px;

                h1 {
                    font-family: 'Content';
                    font-weight: 700;
                    font-size: 40px;
                    letter-spacing: 0%;
                    display: flex;
                    gap: 4px;
                    align-items: self-start;
                    line-height:100%;

                    img {
                        margin-top: 4px;
                        width: 12px;
                        height: 12px;

                    }
                }

                p {
                    font-family: 'Content';
                    font-weight: 400;
                    font-size: 15px;
                    letter-spacing: 0%;
                    color: #72796e;
                }
            }
        }

        .head--2 {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: auto;
            padding-top: 20.5px;
            padding-bottom: 20.5px;
            border-top: 1.5px solid #D6E8CE;
            border-bottom: 1.5px solid #D6E8CE;

            .head--k {
                height: 73px;
                width: 0px;
                border: 1.5px solid #D6E8CE;
            }

            .head--a {
                width: 115px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;

                p {
                    font-family: 'Commissioner';
                    font-weight: 700;
                    font-size: 12px;

                }
            }

            .head--b {
                width: 122px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 19px;

                p {
                    font-family: 'Commissioner';
                    font-weight: 700;
                    font-size: 12px;

                }

            }

            .head--c {
                width: 97px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;

                p {
                    font-family: 'Commissioner';
                    font-weight: 700;
                    font-size: 12px;
                }
            }
        }

        .head--3 {
            padding-inline: 22px;

            p {
                font-family: 'Content';
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 0%;
            }
        }

        .head--4 {
            display: flex;
            align-items: center;
            gap: 20px;
            padding-left: 20px;

            button {
                width: 165px;
                height: 49px;
                background-color: #F95555;
                color: #ffffff;
                border: none;
                font-family: 'Content';
                font-weight: 700;
                font-size: 14px;
                color: #ffffff;
            }
        }
    }

    .illustration {
        margin: auto;
        max-width: 1656px;
        padding-inline: 15px;
        width: 100%;
        padding-top: 63px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-family: 'Content';
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #ffffff;
            height: 88px;
            display: flex;
            align-items: center;

        }

        .ill {
            display: flex;
            align-items: center;
            max-width: 1626px;
            width: 100%;
            max-height: 477px;
            height: 100%;

            gap: 40px;

            .ill--1 {
                max-width: calc((100% - 40px)/2);
                width: 100%;
                max-height: 477px;
                height: 100%;
                aspect-ratio: 793 / 477;


                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .describe {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
        max-width: 1656px;
        width: 100%;
        min-height: 482px;
        padding-inline: 15px;

        h2 {
            font-family: 'Content';
            font-weight: 700;
            font-size: 48px;
            height: 88px;
            color: #ffffff;
            display: flex;
            align-items: center;
        }

        .des {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-family: "Content";
                font-weight: 700;
                font-size: 64px;
                line-height: 80px;
                letter-spacing: 0%;
                color: #ffffff;
            }

            h4 {
                font-family: 'Content';
                font-weight: 700;
                font-size: 36px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #ffffff;
            }

            p {
                font-family: 'Content';
                font-weight: 400;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #ffffff;
            }
        }
    }

    .features {
        min-height: 328px;
        max-width: 1656px;
        width: 100%;
        margin: auto;
        padding-inline: 15px;

        h2 {
            font-family: 'Content';
            font-weight: 700;
            font-size: 48px;
            height: 88px;
            display: flex;
            align-items: center;
            color: #ffffff;

        }

        p {
            font-family: 'Content';
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #ffffff;
        }
    }

    .rate {
        padding: 30.5px 0px 30.5px 20px;
        max-width: 1656px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline: 15px;


        h2 {
            font-family: 'Content';
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #ffffff;
            height: 88px;
            display: flex;
            align-items: center;
        }

        .rate--a {
            display: flex;
            align-items: center;
            gap: 50px;

            .rate--1 {
                h3 {
                    font-family: 'Commissioner';
                    font-weight: 600;
                    font-size: 128px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #ffffff;
                }

                p {
                    font-family: 'Commissioner';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #B9B9B9;
                }
            }

            .rate--2 {
                display: flex;
                flex-direction: column;

                .rate--star {
                    display: flex;
                    align-items: center;

                    p {
                        font-family: 'Commissioner';
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #ffffff;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        margin-left: 4px;
                        margin-right: 15px;
                    }

                    .th {
                        width: 239px;
                        height: 12px;
                        border-radius: 6px;
                        background-color: #B9B9B9;
                    }
                }

                .rate--star:nth-of-type(5) {
                    .th {
                        background-color: #AF8E21;
                    }
                }
            }
        }

        .rate--b {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h5 {
                font-family: 'Content';
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #ffffff;
                height: 44px;
                display: flex;
                align-items: center;
            }

            .rate--k {
                display: flex;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .rate--i {
                display: flex;
                align-items: center;
                gap: 12px;

                p {
                    font-family: 'Content';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 0px;
                    letter-spacing: 0%;
                    color: #ffffff;
                }
            }
        }
    }

    .similar {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 1625px;
        width: 100%;
        align-items: center;
        margin: auto;

        h2 {
            width: 100%;
            padding-left: 30px;
            font-family: 'Content';
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            color: #ffffff;
        }

        .simi--box {
            display: flex;
            align-items: center;
            gap: 30px;
            padding-inline: 30px;
            background-color: #222324;

            .simi--img {
                max-width: 729px;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .simi--item {
                display: flex;
                flex-wrap: wrap;
                column-gap: 38px;
                row-gap: 12px;
                max-width: 806px;
                width: 100%;

                .simi--1 {
                    display: flex;
                    gap: 14px;
                    width: 384px;
                    background-color: #29292B;

                    img {
                        width: 144px;
                        height: auto;
                    }

                    .simi--a {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        padding-top: 6px;

                        h4 {
                            font-family: 'Commissioner';
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: #ffffff;
                        }

                        h5 {
                            font-family: 'Content';
                            font-weight: 400;
                            font-size: 6px;
                            color: #CDCDCD82;
                        }

                        p {
                            font-family: 'Content';
                            font-weight: 400;
                            font-size: 6px;
                            line-height: 10px;
                            letter-spacing: 0%;
                            color: #ffffff;
                        }

                        button {
                            width: 67px;
                            height: 18px;
                            gap: 10px;
                            background: #112D4E;
                            border: 1px solid #F3F3F3;
                            font-family: 'Content';
                            font-weight: 700;
                            font-size: 6px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1560px) {
    body {
        .head {
            .head--img {
                background-position: calc(100% + 330px) center;
                background-size: auto 110%;
            }

            .head--box {
                right: 0px;
            }
        }
    }
}

@media screen and (max-width:1384px) {
    body {
        .similar {

            .simi--box {
                .simi--item {
                    max-width: 400px;
                    width: 100%;


                    .simi--1:nth-of-type(4) {
                        display: none;
                    }

                    .simi--1:nth-of-type(5) {
                        display: none;
                    }

                    .simi--1:nth-of-type(6) {
                        display: none;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:950px) {
    body {
        .similar {
            gap: 20px;

            h2 {
                font-size: 24px;
                text-align: center;
                height: 44px;
                display: block;
            }

            .simi--box {
                padding-inline: 0;
                overflow: hidden;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0;

                .simi--item {
                    max-width: 1500px;
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 0;

                    .simi--1 {
                        img {
                            width: 82px;
                            height: auto;
                        }

                        .simi--a {
                            gap: 2px;
                            padding-top: 4px;

                            h4 {
                                font-size: 13px;
                            }

                            h5 {
                                font-family: 'Content';
                                font-weight: 400;
                                font-size: 4px;
                                color: #CDCDCD82;
                            }

                            p {
                                font-size: 4px;
                                line-height: 110%;
                            }

                            button {
                                width: 56px;
                                height: 16px;
                                font-size: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    body {
        padding-top: 0;

        .head {
            max-width: 860px;
            width: 100%;
            max-height: 648px;
            height: 100%;
            aspect-ratio: 860 / 648;

            .head--img {
                background-image: url("/img/detail/Mask\ group\ \(5\).png");
                background-position: center;
                background-size: cover;
            }

            .head--box {
                right: 0;
                left: 0;
                top: 100%;
                background-color: #E8F7E0;
                max-width: 800px;
                width: 100%;
                padding-inline: auto;
                padding: 8px;

                .head--1 {
                    max-width: 398px;
                    width: 100%;
                    margin: auto;


                    h1 {
                        font-weight: 700;
                        font-size: 40px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 15px;
                    }
                }
            }
        }

        .illustration {
            padding-top: 10px;
            padding-inline: 10px;
            margin-top: 352px;

            h2 {
                font-size: 24px;
                text-align: center;
                height: 44px;
                display: block;
            }

            .ill {
                flex-direction: column;
                gap: 20px;
                max-height: 800px;
                height: 100%;

                .ill--1 {
                    max-width: 620px;
                }
            }
        }

        .describe {
            margin-top: 42px;
            min-height: 312px;

            h2 {
                font-size: 24px;
                height: 44px;
                text-align: center;
                display: block;
            }

            .des {
                gap: 10px;

                h3 {
                    font-size: 36px;
                    line-height: 110%;
                }

                h4 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .features {
            margin-top: 42px;
            min-height: 78px;

            h2 {
                font-size: 24px;
                height: 44px;
                text-align: center;
                display: block;
            }

            p {
                font-size: 14px;
            }
        }

        .rate {
            padding: 40.5px 16px;
            gap: 8px;

            h2 {
                font-size: 24px;
            }

            .rate--a {
                gap: 30px;

                .rate--1 {
                    gap: 20px;

                    h3 {
                        font-size: 50px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .rate--2 {


                    .rate--star {
                        gap: 13px;

                        p {
                            font-size: 10px;
                        }

                        img {
                            width: 17px;
                            height: 20px;
                            margin-left: 0;
                            margin-right: 10px;
                        }

                        .th {
                            width: 154px;
                            height: 12px;
                        }
                    }
                }
            }

            .rate--b {

                gap: 10px;

                h5 {
                    font-size: 18px;
                }

                .rate--i {


                    p {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}